server {
        listen 80;
        listen [::]:80;

        server_name lighthouse;

        root /var/www/lighthouse-master;
        index index.html;

        location / {
                try_files $uri $uri/ =404;
        }
}
